<strong>Hello, {{ deliveryman }}</strong>
<p>
  You have a order canceld :'(<br />
</p>
<p>
  <strong>Order date: </strong> {{ date }} <br />
  <strong>Order ID: </strong> {{ id }} <br />
  <strong>Recipient: </strong> {{ recipient }} <br />
  <br />
</p>
